
body {
    background-color: #f0f0f0;
}

.indent {
 /*margin-bottom: 75px !important;*/
}


.carousel-item{
    padding: 5% 0%;



}
a{
    color: #e85a4f;
}

.text{
    margin-left: 0 !important;
}
.jacky{
color: #007b7d;
}
.ronald {
color: #228B22;
}

@media screen and (max-width: 1000px) {
    .carousel-item {
        min-height: 850px;
    }
}
.carousel-indicators li{

    background-color: #1d2124;
}
.carousel-indicators{
    position: fixed;
}
.carousel-control-next-icon , .carousel-control-prev-icon{
    color: #1d2124 ;
    filter: invert(1);
}

.carousel-control-next, .carousel-control-prev{
    position: fixed;
    height: 600px;
    margin-top: 400px;
}
