
body {
    background-color: #f0f0f0;
}

.indent {
 margin-bottom: 75px !important;
}


.carousel-item{
    padding: 5% 0%;
}
a{
    color: #e85a4f;
}

.text{
    margin-left: 0 !important;
}
.jacky{
color: #007b7d;
}
.ronald {
color: #228B22;
}


