
body {
    background-color: #f0f0f0;
}

#mainContent{
    width: 100%;
    justify-self: flex-end;

}
 .title{
     font-family: 'Kumbh Sans', sans-serif;
     font-size: 20px;
     margin: 60px;
     display: flex;
 }

 #about_header{
     width: 100%;
     height:30%;
 }

 #about_header h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
     vertical-align: bottom;
     padding: 60px;
     font-size: 60px;

 }

.carousel-item{
    padding: 5% 0%;
}
a{
    color: #e85a4f;
}

.text{
    margin-left: 0 !important;
}
.jacky{
color: #007b7d;
}
.ronald {
color: #228B22;
 }