

table {
    margin-top: 5px;
}

tr:nth-child(even) {
    background-color: #ffebd1;
}

tr:nth-child(odd) {
    background-color: #f8ffd1;
}

th {
    background-color: #ffdcd1;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-container input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ff5e00;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.search-container button {
    padding: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50px;
}

.search-container button:first-of-type {
    border-top: 1px solid #ff5e00;
    border-bottom: 1px solid #ff5e00;
}

.search-container button:last-of-type {
    border: 1px solid #ff5e00;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

.search-container button:hover {
    background-color: #ff5e00;
}

.navbar-toggler-icon {
    position: relative;
    right: 5px;
    font-size: 16px;
}

button {
    width: 40px;
    transition: .15s linear;
}

#project-details {
    width: 100%;
}

#project-details p {
    font-size: 1em;
}